{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KRDev BLog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% if user.is_authenticated %}
    <p>Xush kelibsiz {{ user.username }}!</p>
    <p>
        <a href="{% url 'logout' %}">Log Out</a>
    </p>
{% else %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <a href="{% url 'login' %}" class="btn btn-primary me-md-2" tabindex="-1" role="button">Entry site</a>
        <a href="{% url 'signup' %}" class="btn btn-success me-md-2" tabindex="-1" role="button">Register</a>
    </div>
{% endif %}
<header><a href="{% url 'main' %}" class="ms-2 fs-1" style="font-family:Arial;">KRDev Blog</a></header>
<div>
    {% block content %}
    {% endblock content %}
</div>
<footer>
    <a href="{% url 'post_new' %}">Writing new post</a>
</footer>
</body>
</html>